<head>
    <title>Banks has Donations</title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script>
        //    Delete functions
        function deleteBankDonation(bloodBankID, bloodDonationCenterID) {

            console.log("deleteBankDonation called");

            // Put our data we want to send in a javascript object
            let data = {
                bankID: bloodBankID,
                donationID: bloodDonationCenterID
            };

            // Setup our AJAX request
            var xhttp = new XMLHttpRequest();
            xhttp.open("DELETE", "/delete-bank-has-donation-ajax", true);
            xhttp.setRequestHeader("Content-type", "application/json");

            // Tell our AJAX request how to resolve
            xhttp.onreadystatechange = () => {
                if (xhttp.readyState == 4 && xhttp.status == 204) {

                    // Add the new data to the table
                    deleteRow(bloodBankID, bloodDonationCenterID);

                }
                else if (xhttp.readyState == 4 && xhttp.status != 204) {
                    console.log("There was an error with the input.")
                }
            }
            // Send the request and wait for the response
            xhttp.send(JSON.stringify(data));
        }

        function deleteRow(bloodBankID, bloodDonationCenterID){

            console.log("Delete Row..")

            let table = document.getElementById("bank-has-donation-table");
            for (let i = 0, row; row = table.rows[i]; i++) {
                //iterate through rows
                //rows would be accessed using the "row" variable assigned in the for loop
                if (table.rows[i].getAttribute("bank-value") == bloodBankID) {
                    if (table.rows[i].getAttribute("donation-value") == bloodDonationCenterID) {
                        console.log("Found Row!")
                        table.deleteRow(i);
                        break;
                    }
                }
            }
        }
    </script>
</head>

<body>
     <!-- Title -->
    <h1>Blood Banks has Blood Donation Centers</h1>

    {{!-- Links section --}}
    [ 
    <a href="/">Blood Donors</a> |
    <a href="/Blood_Bags">Blood Bags</a> |
    <a href="/Blood_Recipients">Blood Recipients</a> |
    <a href="/Blood_Donation_Inventories">Blood Donation Inventories</a> |
    <a href="/Blood_Donation_Centers">Blood Donation Centers</a> |
    <a href="/Blood_Banks">Blood Banks</a> | 
    <a href="/Medical_Centers">Medical Centers</a> 
    ]
    <p></p>
    [
    <a href="/Banks_has_Donations">Banks has Donation Centers</a> |
    <a href="/Donations_has_Donors">Donation Centers has Donors</a> |
    <a href="/Centers_has_Banks">Medical Centers has Banks</a> |
    <a href="/Centers_has_Recipients">Medical Centers has Recipients</a> 
    ] 

        <p></p>

    {{!-- Display Banks has Donations --}}
    <div id="browse" style="display: block">
        <legend><strong>Browse Blood Donors</strong></legend>
        <table id="bank-has-donation-table" border="1" cellpadding="5">
            {{!-- Header section --}}
            <thead>
                <tr>
                    <th></th>
                    {{#each data.[0]}}
                    <th>
                        {{@key}}
                    </th>
                    {{/each}}
                </tr>
            </thead>
            {{!-- Body section --}}
            <tbody>
                {{!-- For each row, print the all columns --}}
                {{#each data}}
                <tr bank-value={{this.bloodBankID}} donation-value={{this.bloodDonationCenterID}}>
                    <td><button onclick="deleteBankDonation({{this.bloodBankID}}, {{this.bloodDonationCenterID}})">Delete</button></td>
                    <td>{{this.bloodBankID}}</td>
                    <td>{{this.bloodDonationCenterID}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table> 
    </div>
    <br></br>

    <!-- Intsert New Connection-->
    <div id="insert">
        <form method="POST" id="add-banks-has-donations-form" action="/add-banks-has-donations-form">
        <legend><strong>Add Blood Bank has Blood Donation Center</strong></legend>
        <fieldset class="fields">

            <label for="bloodBankID-Input">Select Blood Bank ID</label>
            <select name="bloodBankID-Input" id="bloodBankID-Input">
                <option></option>
                {{#each bankID}}
                <option value="{{this.bloodBankID}}">{{this.bloodBankID}}</option>
                {{/each}}
            </select>
       
            <br></br>

            <label for="bloodDonationCenterID-Input">Select Blood Donation Center ID</label>
            <select name="bloodDonationCenterID-Input" id="bloodDonationCenterID-Input">
                <option></option>
                {{#each donationID}}
                <option value="{{this.bloodDonationCenterID}}">{{this.bloodDonationCenterID}}</option>
                {{/each}}
            </select> <br>

        </fieldset>
            <p></p>

            <input type="submit"> <br> <br>

        </form>
    </div>
</body>

